a[href = "https://www.google.com/"],
a[href = "https://www.google.com/doodles"]
{
  color: green;
}

a[target="_blank"] {
  color: red;
}

#second-div p:nth-child(2n + 2) {
  color: blue;
}

#second-div p:nth-child(odd) {
  color: red;
}

#first-div > p:nth-child(2)::after,
#first-div > p:nth-child(3)::after{
  content: "NEW";
  color: yellow;
}

body > p:nth-last-of-type(1):hover {
  font-style: italic;
}
